<h1>STATE</h1>
<p><strong>Introduction</strong></p>
<p>Inspired as much by Annie Ernaux and Karl Ove Knausgaard as by Jer Thorp or Tim Berners-Lee, State is the latest iteration of a longstanding interest in modelling data into a personal knowledge graph. This is intended as a technical exercise, potentially personally useful, and as a counterpoint to the clandestine accumulation of such data by others.</p>
<p>The term "state" refers both to the representation of "states" of myself, and as a platform where I can "state" information.</p>
<p><strong>Utilities</strong></p>
<p>There are a number of helper functions for adding data to the graph.</p>
<p>```python</p>
<h1>add a person.</h1>
<p>state.person(
    label="Adelheid Heftberger", 
    comment="Austrian researcher.", 
    member="Bundesarchiv", 
    wikidata="Q42369365",
    )</p>
<h1>add a location.</h1>
<p>state.location(
    label="Rabat", 
    comment="Capital city of Morocco.", 
    wikidata="Q3551",
    )</p>
<h1>add a reading event.</h1>
<p>state.reading_event(
    reader_id='0ef53722-52ca-49c8-873d-3549a74914e8', 
    book_label='This Is for Everyone',
    book_isbn='9781035023684',
    author_label='Tim Berners-Lee',
    author_decription='English computer scientist.',
    author_wikidata='Q80',
    event_start='2025-12-22',
    event_end='2025-12-24')
```</p>
<p><strong>Example</strong></p>
<p>→ <a href="https://paulduchesne.github.io/state/resource/0ef53722-52ca-49c8-873d-3549a74914e8">Paul Duchesne</a></p>
<p><strong>License</strong></p>
<p><a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a></p>