<head>
    <title>state</title>

    <style>
    @font-face {
        font-family: 'geist_light';
        src: url("{{ url_for('static', filename='geist/fonts/Geist/otf/Geist-Light.otf') }}") format('opentype');
    }


</style>
</head>

<body style="margin: 0; padding: 0">
    <div style="width: 100%; background-color: #333333; display: flex; justify-content: left; align-items: center;">


 

    <tspan style="font-size: 16px; font-family: 'geist_light', sans-serif; color: #dddddd; padding: 20px">state</tspan>
            </div>
            {% block content %}{% endblock %}

  
</body>

  

