{% extends 'layout.html' %}

{% block content %}

<div style="width: 600px; display: block; margin: 0 auto; padding-top:40px">

    <tspan class="title_text">{{ data.label }}</tspan><br><br>
    <tspan class="regular_text">[<a href="{{ data.type.entity_link }}">{{ data.type.entity_label }}</a>]</tspan><br>
    <tspan class="regular_text">{{ data.comment | safe }}</tspan>

    {% if data.statements %}
    <tspan class="bold_text">Statements</tspan><br><br>

    {% for s in data.statements %}
    {% if s.type == 'entity' %}
    <tspan class="regular_text">{{ data.label }} → <a href="{{ s.property_link }}">{{ s.property_label }}</a> → <a href="{{ s.entity_link }}">{{ s.entity_label }}</a><br></tspan>
    {% endif %}
    {% if s.type == 'literal' %}
    <tspan class="regular_text">{{ data.label }} → <a href="{{ s.property_link }}">{{ s.property_label }}</a> → {{ s.entity_label }}<br></tspan>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>

{% endblock %}