<head>
    <title>state</title>
</head>

<div style="width: 800px; display: block; margin: 0 auto;">

<h3>{{ data.label }}</h3>
[<a href="{{ data.type.entity_link }}">{{ data.type.entity_label }}</a>]<br><br>
{{ data.comment | safe }}<br>
<br>
<strong>Statements</strong>
<br>
{% for s in data.statements %}
{% if s.type == 'entity' %}
{{ data.label }} → <a href="{{ s.property_link }}">{{ s.property_label }}</a> → <a href="{{ s.entity_link }}">{{ s.entity_label }}</a><br>
{% endif %}
{% if s.type == 'literal' %}
{{ data.label }} → <a href="{{ s.property_link }}">{{ s.property_label }}</a> → {{ s.literal }}<br>
{% endif %}
{% endfor %}

</div>